<div class="header">
  <div class="name">
    <a [routerLink]="'/'">Petr Kratochvíl</a>
  </div>
  <div class="locale-switch">
    <locale-switch/>
  </div>
</div>
<main class="main-content">
  <router-outlet></router-outlet>
  <h1 id="page-title">{{ pageTitle }}</h1>
</main>
<ul class="menu" :class="isLandingPage ? 'expanded' : ''">
  <ng-container *ngFor="let route of fullRoutes">
    <li *ngIf="route.data?.linkTitle">
      <a [routerLink]="route.path">{{ route.data?.linkTitle }}</a>
    </li>
  </ng-container>
</ul>
