<div class="header">
  <div class="name">
    <a [routerLink]="'/' + currentLang">Petr Kratochvíl</a>
  </div>
  <div class="locale-switch">
    <locale-switch/>
  </div>
</div>
<main class="main-content">
  <h1 id="page-title">{{ pageTitle }}</h1>
  <router-outlet></router-outlet>
</main>
<nav [ngSwitch]="currentLang" style="display: block;">
  <ul *ngSwitchCase="'cs'">
    <app-menu-item routerLink="" title="Úvod" :expanded="isLandingPage"></app-menu-item>
    <app-menu-item routerLink="verejne-it-projekty" title="Veřejné projekty" :expanded="isLandingPage">← YouTube, GitLab</app-menu-item>
    <app-menu-item routerLink="cv" title="CV" :expanded="isLandingPage"></app-menu-item>
    <app-menu-item routerLink="it-vyvoj" title="IT vývoj" :expanded="isLandingPage">← backend: PHP, Java, …</app-menu-item>
    <app-menu-item routerLink="dev-ops" title="DevOps" :expanded="isLandingPage">← GitHub CI/CD, …</app-menu-item>
    <app-menu-item routerLink="linux" title="Linux" :expanded="isLandingPage">← Ansible, Docker, Btrfs, …</app-menu-item>
    <app-menu-item routerLink="ai" title="AI" :expanded="isLandingPage">← …</app-menu-item>
    <app-menu-item routerLink="kontakt" title="Kontakt" :expanded="isLandingPage">← napište mi, zavolejte mi, …</app-menu-item>
  </ul>
  <ul *ngSwitchDefault>
    <app-menu-item routerLink="" title="Intro" :expanded="isLandingPage"></app-menu-item>
    <app-menu-item routerLink="public-it-projects" title="Public Projects" :expanded="isLandingPage">← YouTube, GitLab</app-menu-item>
    <app-menu-item routerLink="cv" title="CV" :expanded="isLandingPage"></app-menu-item>
    <app-menu-item routerLink="it-development" title="IT Development" :expanded="isLandingPage">← backend: PHP, Java, …</app-menu-item>
    <app-menu-item routerLink="dev-ops" title="DevOps" :expanded="isLandingPage">← GitHub CI/CD, …</app-menu-item>
    <app-menu-item routerLink="linux" title="Linux" :expanded="isLandingPage">← Ansible, Docker, Btrfs, …</app-menu-item>
    <app-menu-item routerLink="ai" title="AI" :expanded="isLandingPage">← …</app-menu-item>
    <app-menu-item routerLink="contact" title="Contact" :expanded="isLandingPage">← napište mi, zavolejte mi, …</app-menu-item>
  </ul>
</nav>
